<?xml version="1.0"?>

<configuration>

    <system.web>

      <authorization>
        <allow users="*"/>
      </authorization>
      
      <compilation debug="true" />
      <customErrors mode="Off" />
      <httpRuntime useFullyQualifiedRedirectUrl="true" />
      <mobileControls cookielessDataDictionaryType="System.Web.Mobile.CookielessData" />

      <deviceFilters>
        <!-- Only a few filters are provided here -->
        <filter name="isJPhone" compare="Type" argument="J-Phone" />
        <filter name="isHTML32" compare="PreferredRenderingType" argument="html32" />
        <filter name="isWML11" compare="PreferredRenderingType" argument="wml11" />
      </deviceFilters>


    </system.web>

</configuration>
