@media screen
{
    body
    {
        font-family: Arial;
        font-size: 10pt;
        margin: 0;
        margin: 70px;
        background-color: gray;
    }

    .hoja
    {
        background-color: white;
        padding: 10px;
    }
}
@media print
{
      body
    {
        font-family: Arial;
        font-size: 10pt;
        margin: 0;
        background-color: gray;
    }
    .BtnImprimir
    {
        visibility:hidden;
    }
}

        @page
        {
            size: 8.5in 11in;
            margin: 2cm;
        }

        @page
        {
            size: portrait;
        }

        @page rotated
        {
            size: landscape;
        }

        .tbconborde
        {
            border-collapse: collapse;
        }

            .tbconborde td
            {
                border: 1px solid black;
                padding: 2mm;
            }
            /*background-color: #f8f3f3;*/
            .tbconborde th
            {
                
                border: 1px solid black;
                padding: 2mm;
            }

        .profile-info-name
        {
            position: absolute;
            width: 150px;
            text-align: right;
            padding: 6px 10px 6px 0px;
            left: 0px;
            top: 0px;
            bottom: 0px;
            font-weight: normal;
            color: rgb(102, 126, 153);
            background-color: transparent;
            border-top: 1px dotted rgb(213, 228, 241);
        }

        .profile-info-value
        {
            padding: 6px 4px 6px 6px;
            margin-left: 150px;
            border-top: 1px dotted rgb(213, 228, 241);
        }